.row{
  color:white;
  margin-left: 17px;

}
.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 30px;
}
.row__posters::-webkit-scrollbar {
  display: none;
}
.row__poster {
  object-fit: contain;
  width: 100%;
  max-height: 150px;
  margin-right: 10px;
  transition: transform 450ms;
}

.row__poster:hover {
  transform: scale(1.08);
}

.row__posterLarger{
  max-height: 300px;
}

.row__posterLarger:hover {
  transform: scale(1.09);
  opacity:1;
}